html {
    background-color: rgb(255, 177, 194);
}

h1, p {
    color:rgb(255, 255, 255);
}

a {
    margin: 10px;
    color: black;
}







.bigbox {
    background-color: rgb(255, 125, 125);
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 6px;
}